.filter-section {
    width: 18%;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 27px;
    padding: 50px 0 150px 0;
    max-height: calc(100vh - 100px);
    overflow: auto;
    position: sticky;
    top: 65px;
    transition: top 0.5s ease-out 0s;
}


.color-filter,
.sort-by-price {
    margin-bottom: 10px;
}

.color-filter button,
.sort-by-price button {
    margin-bottom: 5px;
}

/* Modify the styles for color buttons in the dropdown */
.dropdown-contentcolor {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 0;
}

.dropdown-contentcolor2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: -1;
}

.dropdown-contentcolor1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: -1;
}

.dropdowncolor.active .dropdown-contentcolor {
    display: block;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
}

.dropdowncolor.active .dropdown-contentcolor2 {
    display: block;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
}

.dropdowncolor.active .dropdown-contentcolor1 {
    display: block;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
    width: 1px;
}


/* Style for color buttons */
.dropdown-contentcolor button,
.dropdown-contentcolor2 button {
    width: 33px;
    height: 33px;
    margin: 2px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


button.red {
    background-color: rgb(255, 0, 0);
}

button.orange {
    background-color: rgb(255, 165, 0);
}

button.blue {
    background-color: rgb(0, 0, 255);
}

button.cream {
    background-color: rgb(255, 253, 208);
}

button.yellow {
    background-color: rgb(255, 255, 0);
}

button.green {
    background-color: rgb(0, 128, 0);
}

button.black {
    background-color: rgb(0, 0, 0);
}

button.maroon {
    background-color: rgb(128, 0, 0);
}

button.purple {
    background-color: rgb(128, 0, 128);
}

button.beige {
    background-color: rgb(245, 245, 220);
}

button.grey {
    background-color: rgb(128, 128, 128);
}

button.white {
    background-color: rgb(255, 255, 255);
}

button.pink {
    background-color: rgb(255, 182, 193);
}

/* Additional styling for the filter options */
.color-filter button,
.sort-by-price button {
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #a49797;
}

/* Add margin to Sort by Price when Choose Color dropdown is active */
.sort-by-price {
    margin-top: 0;
    /* Reset margin to default value */
}

.dropdowncolor.active+.sort-by-price {
    margin-top: 20px;
    /* Adjust as needed */
}

.choosecolor {
    height: 48px;
    text-align: center;
    width: 180px;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;

}

.nocolor {
    margin-left: -12px;
    margin-top: 80px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bc5a7a;
    text-decoration: underline;
}
