.free-shipping {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* Ensure images don't overflow on smaller screens */
}

.free-shipping img {
    width: 100%;
    max-width: 1130px;
    /* Limit max-width for larger screens */
    height: auto;
}