.big-saving-zone .saving-zone1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #343434;
    border-bottom: 1px solid #f9eb28;
    text-align: left;
    margin: 60px 50px 10px 100px;
  
    display: inline-block;
  }
  
  .big-saving1 {
    width: 266px;
    border-radius: 20px;
  }
  
  .saving-zone-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .saving-zone-2 button {
    width: 50px;
    height: 80px;
    border: none;
  
  }
  
  /* new arrival */
  .previmage {
    position: absolute;
    margin-left: 12px;
    cursor: pointer;
  }
  
  .nextimage {
    position: absolute;
    margin-left: -45px;
    cursor: pointer;
  }
  
  /* big savingzone */
  .previmage1 {
    position: absolute;
    margin-left: 23px;
  }
  
  .nextimage1 {
    position: absolute;
    margin-left: -55px;
  }
  
  /* -------- */
  .newarrivalimg {
    width: 250px;
    height: 330px;
    border-radius: 10px;
  }
  
  .newarrival a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Inherit color from parent */
  }
  
  .newarrrivalheading {
    margin-top: -45px;
    text-decoration: none;
    position: absolute;
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
    border-left: 4px solid #ffdd00;
    padding: 5px;
    height: 20px;
  
  }
  
  .scolll {
    margin-top: 20px;
  }
  
  .scrolllimage {
    width: 100%;
    height: auto;
  }
  
  