.headingsearch {
    margin-left: 40px;
    text-align: start;
    font-weight: 600;
    overflow: hidden;
    width: 270px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headingsearch1 {
    margin-left: 40px;
    text-align: start;
    color: #7d7777;
    font-weight: 100;
    margin-top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p.heading-mensearch {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: left;
    font-weight: 600;
    margin-left: 45px;
    color: #343434;
    border-bottom: 1px solid #f9eb28;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.men-clothessearch {
    margin-left: 40px;
}
