body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buy-container {
    margin-top: 80px;
    background: rgb(248, 248, 248);
    padding: 30px 15px 0px;
    
}

.buy-header ul {
    width: 40%;
    display: flex;
    margin: 0px auto;
    position: relative;
    background: white;
    border-radius: 3px;
    padding: 10px 15px;
    justify-content: space-between;
    z-index: 1;
}

.list {
    text-align: center;
    font-size: 12px;
    list-style: none;
    z-index: 2;
    cursor: pointer;
}

.list span:first-of-type {
    font-size: 12px;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin: 0px auto;
    height: 33px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    border: 1px solid rgb(0, 0, 0);
}

.buy-container2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}
.buy-containerr{
    background: rgb(255, 255, 255);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    display: flex;
}
.buy-containerr-data{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
}
.buy-containerr-data2{
    background: rgb(255, 255, 255);
    display: flex;
    margin: 0px 0px 10px;
}
.product-check-name {
    margin: 0px 10px 10px;
    width: 72%;
}
.buy-image{
    width: 200px;
    height: auto;
}
.article{
    margin: 0px 10px 0px 20px;
    width: 100%;
    box-sizing: border-box;
}
.handleremove{
    width:  200px;
    font-size: 15px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
}


/* .right-div{
    display: inline-block;
    background: rgb(255, 255, 255);
    display: flex;
    margin: 0px 0px 10px;
} */

.css-3gg2w {
    width: 40%;  
}
.css-18aiek4 {
    border-radius: 5px;
    background: rgb(255,255,255);
    padding: 20px;
    gap: 20px;
}
.css-18aiek4 div:not(first-of-type) {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0px;
}
.css-10xg8a8  {
    display: grid;
    font-weight: 600;
    font-size: 18px;
    /* padding: 0px 0px 10px; */
    color: rgb(34, 34, 34);
    /* border-bottom: 1px solid rgb(221, 221, 221); */
}
