 .banners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.bannermen {
    margin-top: 89px;
    width: 25%;
    height: 135px;
    margin-bottom: -150px;
}
.men-container {
    display: flex;
    margin-left: 125px;
    margin-top: 100px;
}

.men-clothess {
    width: 75%;
    box-sizing: border-box;
    margin-top: 80px;
}
p.heading-mens {
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    top: 70px;
    font-weight: 600;
    margin-left: -90px;
    color: #343434;
    border-bottom: 1px solid #f9eb28;
    display: inline-block;
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}
p.heading-menss {
    font-size: 15px;
    text-align: left;
    margin-left: -90px;
    color: #343434;
    display: inline-block;
    margin-top: 10px;
    height: 40px;
}
.for-men-shirts-pants {
    display: grid;
    text-align: center;
    width: 145%;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -90px;
    margin-top: 37px;
    gap: 15px;
}
.for-men-shirts-pants img{
    border-radius: 8px;
    width: 100%;
    height: 300px;
    transition: transform .2s;
    cursor: pointer;
}
#zoom-In img{
    margin: 0px;
    margin-left: -50px;
}

.for-men-shirts-pants #zoom-In img {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.for-shirts-pants #zoom-In:hover img {
    transform: scale(1.5);
}

.seller-details{
    margin-left: 8px;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    width: 250px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: 13px;
    
}
.seller-subCategory{
    margin-left: -8px;
    text-align: center;
    color: #7d7777;
    font-weight: 400;
    margin-top: 5px;
   
}
p.seller-price{
    margin-left: 20px;
    text-align: center;
    font-weight: 600;
    width: 220px;
    font-size: 14px;
    margin-top: 5px;
}
  