.card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 10px;
}
.card label {
  cursor: pointer;
}
.name-input {
  margin: 1px 10px;
}
label {
  font-size: 16px;
  height: 20px;
}
.input-field {
  display: flex;
  height: 20%;
  padding: 10px;
}

.card-input {
  width: 100%;
  position: relative;
  margin: 0px 0px 12px;
}

.payment-btn {
  font-weight: 600;
  margin: 30%;
  margin-top: 13%;
  width: 200px;
  font-size: 15px;
  padding: 5px 10px;
  background: #1a60da;
  border: 1px solid rgb(24, 165, 208);
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.input-name1 {
  padding: 5px;
  width: 50%;
  margin: 6px;
  margin-left: 10px;
  font-size: 16px;
  text-transform: capitalize;
}

.input-name {
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
  width: 80%;
  box-sizing: border-box;
  gap: 10px;
}

.checkout-container {
  justify-content: space-between;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
  width: 100%;
  background: rgb(255, 255, 255);
}

.PaymentPage__Parent {
  align-items: center;
  background-color: #d3d3d3;
  display: flex;
  height: 370px;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
.PaymentPage__child {
  display: flex;
  gap: 10px;
  height: 100%;
  padding: 20px;
  width: 1200px;
}
.PaymentPage__PaymentOptions {
  background-color: #fff;
  height: 320px;
  padding: 10px;
  width: 20%;
}
.PaymentPage__AddressAndCheckout {
  background-color: #fff;
  height: 320px;
  width: 40%;
}
.shoppingAddress {
  font-weight: 700;
}

.price-chartt{
  width: 280%;
  height: 100px;
}