.paymentt-container{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 100px;
    /* margin-left:30px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
    width: 50%;
    background: rgb(255, 255, 255);
}

.pay-heading{
    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px 0px 20px 5px;
}
.payment-method{
    display: flex;
    gap: 10px;
}

.card{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 5px 0px;
    padding: 10px;
    margin-left: 10px;
}
.card label{
    cursor: pointer;
}

label{
    font-size: 16px;
}
.input-field{
    display: flex;
    gap: 10px;
}
.input-fieldd{
    display: block;
    height: 20%;
    padding: 10px;
}
.cardDetails{
    display: grid;
    width: 30%;
    padding: 10px;
    position: relative;
}
.card-input{
    width: 100%;
    position: relative;
    margin: 0px 0px 12px;
}
.cardDetails .card-input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 0px inset;
    padding: 15px 10px;
    outline: none;
}
.payment-btn{
    display: block;
    background: rgb(81, 203, 204);
    padding: 10px 20px;
    width: 20%;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 20px;
}