body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.product-component-container {
    max-width: 1150px;
    text-align: center;
    margin: 34px 130px;
    padding: 0 15px;
    margin-top: 110px;
}
.product-component-box {
    display: flex;
    margin: 0px auto;
    text-align: start;
    gap: 3rem;
}
.product-left {
    display: flex;
    gap: 0.3rem;
}
.product-left img {
    width: 450px;
    height: 677px;
}
.forImageShowing img {
    width: 95px;
    height: 127px;
    cursor: pointer;
}


.product-right h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    height: 22px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0px 0px 0px;

}
.product-right p {
    margin: 0;
    padding: 10px 0px 10px 0px;
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);

}
.product-right b {
    font-size: 20px;
}
.product-right span {
    font-size: 17px;
    font-weight: 700;
    color: #4bb550;
    display: flex;
    flex-direction: row;
    align-items: center;
}
span.discounted-text {
    color: #888888;
    font-weight: 600;
    display: block;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
}
.rating-container {
    display: flex;
}
.rating-container svg {
    width: 22px;
    height: 22px;
    color: rgb(255, 200, 0);
    padding: 0px;
}
.rating-container p {
    margin-top: -8px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.rating-container p span {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #0009;

}


/* Product Description*/
.product-description-container {
    margin-top: 50px;
    text-align: left;
    font-size: 13px;
}

.colorr {
    color: black;
}

.size-chart-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-button {
    border: 1px solid rgb(172 161 161);
    border-radius: 25px;
    background-color: white;
    color: black;
    font-weight: 900;
    height: 35px;
    width: 35px;
    padding: 10px;
    line-height: 5px;
    text-align: center;
    font-size: 10px;
}
.size-button:hover {
    border-color: #090909;
}

.product-right label {
    font-size: 20px;
    padding: 12px 14px 12px 0px;
    margin: 70px 0px 20px 0px;
    font-weight: 500;
}
.size-button
.selected {
    border-color: #007bff;
    background-color: #007bff;
    color: #fff;
}
.size-button
.selected:hover {
    border-color: #0056b3;
}


.product-right 
.btn-cart-buy {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}
.cartloggo {
    line-height: 10px;
    height: 19px;
    width: 20px;
    margin-right: 5px;
}


 .btn-cart-buy 
 .btn-cartt {
    padding: 0px 0px;
    width: 55%;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #0a7bba;
    color: #0a7bba;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    
}

.btn-cart-buy 
.btn-buy {
    padding: 20px 20px;
    width: 50%;
    text-transform: uppercase;
    background-color: #f9eb28;
    border: 1px solid black;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.btn-cart-buy 
.btn-buy svg {
    vertical-align: middle;
    margin-right: 5px;
    fill: rgba(0, 0, 0, 0.6);
}

.buybtn {
    text-decoration: none;
    padding: 0px 0px;
    width: 45%;
    color:black;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}











/*ratings-review-container*/

.ratings-review-container {
    margin-top: 3rem;
}
.ratings-review-section {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 2.5rem;
    gap: 2rem;
}
.review-section-left{
    width: 85%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #F8EA54;
    align-items: center;
    padding: 2rem 3rem;
    >h3 {
        font-size: 35px;
    }
    >p {
        font-size: 20px;
        text-align: center;
    }
}
.review-section-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.review-section-right .rating-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 2rem;
    margin-top: -1rem;
}

.review-section-right h4 {
    text-transform: uppercase;
    border-bottom: 3px solid #F9EB28;
    width: fit-content;
}
.review-section-right>p {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}
.aboutus-container ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 0;
    margin-top: 4rem;
}

.aboutus-container ul img {
    width: 35%;
}

.aboutus-container ul li {
    list-style: none;
    align-items: center;
    text-align: center;
    border: 1px solid #b8b4b4;
    border-radius: 7px;
    padding: 2rem 0;
}

/*button cart*/

.btn-cart-buy .btn-cart {
    padding: 0px 0px;
    width: 55%;
    text-transform: uppercase;
    background-color: #51cccc;
    border: 1px solid black;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.btn-cart-buy .btn-buy {
    padding: 20px 20px;
    width: 50%;
    text-transform: uppercase;
    background-color: #f9eb28;
    border: 1px solid black;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}