body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.wishlist-container{
    margin: 90px ;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}
.wishlist-item{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.wishlist-img{
    width: 30%;
    height: auto;
    margin-left: 8%;
}
.seller-detailss{
    margin-left: 40px;
    text-align: center;
    font-weight: 600;
    /* overflow: hidden; */
    width: 40%;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.seller-prices{
    margin-left: 8%;
    text-align: center;
    font-weight: 600;
    width: 220px;
    font-size: 14px;
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-remove{
    background: transparent;
    color: #0a7bba;
    width: 15%;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #0a7bba;
    margin-left: 50%;
    margin-top: 25px;
}
.wish-msg{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 7% 13%;
}