.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.bannerwomen {
    margin-top: 89px;
    width: 100%;
    height: 135px;
    margin-bottom: -150px;
}
.women-container {
    display: flex;
    margin-left: 150px;
    margin-top: 120px;
}


.women-clothess {
    width: 75%;
    box-sizing: border-box;
    margin-top: 57px;
}
p.heading-womens {
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    top: 70px;
    font-weight: 600;
    margin-left: -70px;
    color: #343434;
    border-bottom: 1px solid #f9eb28;
    display: inline-block;
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}
p.heading-womenss {
    font-size: 14px;
    text-align: left;
    margin-left: -70px;
    color: #343434;
    display: inline-block;
    margin-top: 15px;
    height: 20px;
}
.for-women-shirts-pants {
    display: grid;
    text-align: center;
    width: 145%;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -90px;
    margin-top: 37px;
    gap: 12px;
}
.for-women-shirts-pants img{
    border-radius: 6px;
    width: 100%;
    height: 300px;
    transition: transform .2s;
    cursor: pointer;
}
#zoom-In img{
    transform: scale(1);
    transition: .5s ease-in-out;
}

.seller-details{
    margin-left: 8px;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    width: 300px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-size: 13px;
    
}
.seller-subCategory{
    margin-left: -8px;
    text-align: center;
    color: #7d7777;
    font-weight: 400;
    margin-top: 5px;
   
}
p.seller-price{
    margin-left: 50px;
    text-align: center;
    font-weight: 600;
    width: 220px;
    font-size: 14px;
    margin-top: 5px;
}
  